<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InterviewAI">

        <!-- Entry Point Router Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 1. Welcome Screen -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- 2. Auth: Login & Register Screens -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- 3. Home Screen -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- 4. Interview Setup Screen -->
        <activity
            android:name=".InterviewSetupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- 5. Interview Screen -->
        <activity
            android:name=".InterviewActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- 6. Results Screen -->
        <activity
            android:name=".ResultActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- 7. History Screen -->
        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- 8. Profile and Settings Screen -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>